[2015-06-05 15:12] jjneely opened #1 "Support single graphite instances outside of hashring"
The client needs to support a daemon running on a single graphite host that is not part of a hashring.  Goal here is to manage a single instance.  Or multiple single instances.

[2015-06-05 15:14] jjneely opened #2 "bucky rebalance needs to pull in wsp files from outside the current hashring"
When rebalancing it is very common to evacuate a specific node(s).  These nodes are no longer in the hash ring at balance time and bucky has no way to find them and handle their metrics.  We need to make the rebalance code aware of additional buckyd daemons.

[2015-07-20 19:03] grobian opened #3 "[feature request] support replication > 1 and shadow/backup/dr clusters"
In our setup we use multiple clusters with replication = 2, and each of those clusters live in two locations (at minimum).  Due to the nature of the application (high-volume), and the environment (SSDs crash like crazy, switches drop under pressure of microbursts) we need to sync both within the cluster (hence replication = 2) as well as between the clusters (remote).

Would this setup be anywhere

[2015-07-20 20:07] jjneely commented on #3
I'm definitely accepting patches.  ;-)

It should be with a little bit of thinking.  There's currently no concept of replication, but adding that to the configuration the buckyd daemon holds and having the client deal with it should be fairly easy.  It will also help make the way I deal with metrics in the client consistent.

Then its just understanding the sync operation (and the implications for

[2016-03-18 02:24] jjneely commented on #2
This works now.  Just list extra buckyd daemon locations with the rebalance command.

[2016-03-18 02:24] #2 closed

[2016-07-07 17:16] AlexAkulov commented on #1
When will this feature appear?

[2016-07-07 19:15] jjneely commented on #1
This is supported in a limited way now.  Mostly my use case has been this:  I removed a storage node from the cluster and I need to drain all the metrics on it.  Or I want to pull all metrics off this rouge host into the Graphite cluster.

This can be done with the rebalance subcommand.  Just give it the HOST:PORT of the buckyd daemon on the host that's not in the current hashring.

`bucky rebalan

[2016-08-15 12:45] Civil opened #4 "Push your changes to go-whisper to upstream"
I think everybody will benefit if you'll push your changes of whisper to upstream.

[2016-08-15 13:04] deniszh commented on #4
https://github.com/robyoung/go-whisper/pull/11

[2016-08-15 13:06] deniszh commented on #4
It seems that @robyoung is not very active now. That's why @lomik has also own fork of go-whisper https://github.com/lomik/go-whisper for go-carbon...

[2016-08-15 14:49] Civil commented on #4
Maybe then it's better to rebase upon Lomik's version of go-whisper and send him PRs for all the changes?

[2016-09-12 19:16] jjneely commented on #4
Looks like most of my PRs have been merged upstream with Rob.

Outstanding:
* https://github.com/robyoung/go-whisper/pull/19

[2016-09-12 20:01] robyoung commented on #4
@jjneely if you can add a test I will happily merge.

[2016-09-26 22:01] #4 closed

[2016-10-17 13:32] jjneely opened #7 "rebalance should assume a default port for extra nodes"
When we pass extra data storage nodes to `buckytools rebalance` we should assume the port to be the same Bucky port for the known hash ring.  Presently, unless the user specifies we assume port 80 which ends up hitting the Graphite query API.

[2016-10-31 15:58] azhiltsov opened #8 "Is there a plans to merge jump branch to the master?"

[2016-11-02 18:50] jjneely commented on #8
Are you looking to use that with carbon-c-relay's jump-fnv1a hashing algorithm?  IIRC, that's what I was trying to imitate here.  But being that I've never been able to push a hashring change in my current cluster this hasn't been merged.

[2016-11-03 12:59] azhiltsov commented on #8
Yes. We are indeed trying to use it with carbon-c-relay's jump-fnv1a as it gives us more equal distribution of metrics between hosts.
We currently switching our setup to a replication factor 1, so the #3 is not a case for us any more.

[2016-11-03 15:09] jjneely commented on #8
The fact that Graphite just does multiple destinations rather than true replication has been a big reason why I've not done more work on replication factor > 1.  There's no real redundancy / data safety that adds.

I'll take a look at getting that merged in.

[2017-02-05 11:32] deniszh commented on #8
Hello!
Does someone have working jumphash implementation for buckytools? @azhiltsov ? @jjneely ?

[2017-02-05 13:46] azhiltsov commented on #8
Hi. Yes, we currently using it.
It kinda hidden, we accidentally found it here https://github.com/jjneely/buckytools/tree/jump

[2017-02-05 17:32] deniszh commented on #8
Ah, so you using a build from jump tree and it works, right? Cool, thanks!

[2017-02-05 20:02] deniszh commented on #8
Nah, can't build it:
"./cluster.go:67: master.Algo undefined (type *buckytools.JSONRingType has no field or method Algo)
./cluster.go:69: undefined: hashing.NewCarbonHashRing
./cluster.go:71: undefined: hashing.NewJumpHashRing
./cluster.go:71: master.Replicas undefined (type *buckytools.JSONRingType has no field or method Replicas)
./cluster.go:73: master.Algo undefined (type *buckytools.JSONRingT

[2017-02-05 20:27] deniszh commented on #8
Ah, of course - all imports are pointed to master version. So, the only way to build it - fork into the own repo, rename jump branch to master and change imports. Meh. Will test it and will try to properly merge it to master.

[2017-02-10 13:49] howdoicomputer opened #9 "question: migrate from old cluster to new"
@jjneely

I have some possibly stupid questions coming your way, Mr. Neely.

Right now, I'm in charge of maintaining a very large, overly provisioned, hand-grown, monster of a Graphite cluster.

I recently built out a brand new cluster. It's completely automated, easy to create, performs super well and I'm happy with it.

However, I'm trying to figure out a good migration strategy. What I was thin

[2017-02-18 06:18] jdblack commented on #9
I'm in the exact same situation and testing rebalance --no-delete as we speak. How did it work for you?

[2017-02-18 06:40] howdoicomputer commented on #9
@jdblack I'll let you know when I try it! Haha. I mean, it should work. My automated cluster is going into production next Tuesday and then the old cluster will go into a read only mode and **then** I'll try draining metrics from each individual cache node from the old cluster with the `--no-delete` option.

[2017-02-18 14:03] jdblack commented on #9
I tested tonight by doing partial syncs and wasnt convinced.  I actually
saw puts on both sides, leaving me to believe it may be teyibg to keep half
the dataset on each side.

I tried tar option, but that seems to only allow metrics the commabd line
(e.g. no -f or  redirect foe a metric list)

On Feb 17, 2017 10:40 PM, "Tyler Hampton" <notifications@github.com> wrote:

[2017-02-21 21:00] jjneely commented on #9
Well, the first point is that the code base, as it is today, doesn't have direct support for doing a migration from one cluster to another.

What I've done before is used carbon-c-relay to direct data into both clusters and then slowly attempt to backfill old data into the new cluster.  But I'm coming around to this problem again as well, so I may add more direct support.

The "rebalance" command

[2017-02-21 22:17] jjneely commented on #8
This is in progress on my end....

[2017-02-23 21:07] jjneely commented on #8
This is merged.  I'm sure there are a bug or three that I've forgotten about.

[2017-02-23 21:07] #8 closed

[2017-03-03 22:18] howdoicomputer commented on #8
@jjneely I think this breaks the 'standard' carbon hash implementation because the `isHealthy` function is checking to see if the hash ring contains the replicas.

[2017-03-07 01:06] jjneely commented on #8
I'm sure there are some bugs here...  Do have an error case to reproduce?

I plan to be spending some more time on this in the coming weeks, I just unblocked myself from another issue this evening.

[2017-03-07 01:19] howdoicomputer commented on #8
@jjneely So I could be totally misunderstanding how everything works but this is what I did:

https://github.com/jjneely/buckytools/compare/master...howdoicomputer:master

[2017-03-07 09:27] deniszh commented on #8
I did an exactly same thing in my branch - https://github.com/deniszh/buckytools/commit/ad89e747220848b5d0eb05e9f7be99c6dd5dd7ad - remove '+1' in ring length comparison. Still not understand how it should work with it.

[2017-03-07 15:36] jjneely commented on #8
Good to know....

[2017-03-28 06:46] rsommer opened #11 "buckytools locate does not agree with existing cluster placement"
I'm trying to migrate away from carbonate to buckytools, but both do not agree about placement of metrics in our existing cluster. Is there any known incompatibility or pitfall when switching from carbonate to buckytools?

Example carbonate.conf

[code]

carbon-lookup yields:
[code]

buckyd startet with:
[code]

bucky locate yields:
[code]

[2017-03-28 17:51] jjneely commented on #11
The third value in the location is an "instance" value, which does nothing more than add additional data to the hashing algorithm to build a better hash ring.  I wonder if carbonate is substituting in "None" for the instance value since you are not using them.  That would build a different hashring.

I'd try using a specific value for the instance and see if they don't build matching hash rings.

[2017-03-29 06:02] rsommer commented on #11
If i change the configuration and use a specific instance name the hash rings indeed seem to match. Adding "None" as instance name just for buckyd does not solve the problem. I'll have to try to find a way around this without reconfiguring the existing carbon hash ring.

[2017-03-29 09:06] deniszh commented on #11
@rsommer : Could you please show how your DESTINATIONS looks in your carbon.conf?

[2017-03-29 09:21] rsommer commented on #11
@deniszh : we are using carbon-relay-ng and go-carbon. The node names have no instance parts. Example:
[code]

The go-tools and carbonate do aggree about metric placement.

[2017-03-29 11:16] rsommer commented on #11
I think the "problem" is, that carbon.util.parseDestination explicitly sets the instance to the python None-type, which hashes differently  than the string "None" and so there is no way to produce the same hash ring in a non-python tool when the instance part is not set.

[2017-03-29 11:36] deniszh commented on #11
I don't think that's a problem here. Carbon-c-relay written in C and have no problem with absent instance.

[2017-03-29 11:38] deniszh commented on #11
See https://github.com/grobian/carbon-c-relay/blob/master/consistent-hash.c#L227-L232

[2017-04-04 18:15] ra-dft commented on #9
@jjneely so do I understand this correctly that with the above example, bucky will pull data from the old servers via graphite-web's api or buckyd?  I'm just trying to wrap my head around the requirements as I prepare for the same operation.  However, we want to take advantage of feeding the old data back through our new carbon-c-relay's that are going to be setup using fnv1a_ch instead of carbon_

[2017-04-05 05:38] deniszh commented on #9
@ra-dft :
bucky will pull data through buckyd, not graphite-web.
But IIRC there's no support of `fnv1a_ch` hash in bucky, only `jump_fnv1a_ch` - and vice versa, graphite-web supports only `fnv1a_ch` but not `jump`...

[2017-04-05 10:37] claudio-benfatto opened #12 "Bucky cluster isHealthy function fails when -h is not explicitly passed"
Hello here, thanks for the really useful project!

I experienced the following problem:

the cluster function for determining the cluster health:
[code]
[link to the isHealthy function](https://github.com/jjneely/buckytools/blob/master/bucky/cluster.go#L108-L112)
kept failing because of the way the ring is constructed here [build ring members](https://github.com/jjneely/buckytools/blob/master/buck

[2017-04-05 12:10] deniszh commented on #12
👍
I removed '+1' there and it works.

[2017-04-05 13:10] claudio-benfatto commented on #12
hello @deniszh, I was just thinking that maybe this check does not make sense anymore if you drop the `+1` ;) :
[code]
https://github.com/jjneely/buckytools/blob/master/bucky/cluster.go#L88-L92

[2017-04-05 14:18] jjneely commented on #9
0.10.x has `fnv1a_ch` now?  Lovely....

But yes, deniszh is correct.

[2017-04-05 14:20] jjneely commented on #12
Yeah, this is a known issue I need to spend some time with.  Its just the whole time thing...

[2017-04-06 08:35] claudio-benfatto commented on #12
thanks @jjneely , let me know if you need help with anything in particular. Within my team we find the project really useful, and we'd like to start using it in production as well, so we wouldn't mind contributing. Just, in the current state it's not that easy to understand for us, where our effort should be directed.

Thanks!

[2017-04-09 11:19] claudio-benfatto opened #13 "Wrong hashring order"
Hello, I'm trying to make buckytools work in combination with `carbon-c-relay` using a `jump_fnv1a_ch` hash type and replication 1:

the `carbon-c-relay` configuration is the following:

[code]
while `buckyd` is started with the following parameters:

[code]

------------------------------------------------------
the problem is (I think but I'm not sure of it) that the `bucky` commands are reversi

[2017-04-09 12:20] deniszh commented on #13
As far as I understand in current implementation hosts should be always sorted, both in carbon-c-relay and bucky. Put `47063e1b-1a9e-4c23-ac1c-ad187c69f76f...` host first, and then – `501a1bb8-7860-4b39-8045-470f504ae0a3...` - that should work.

[2017-04-09 12:32] claudio-benfatto commented on #13
@deniszh many thanks for your prompt answer.

It seems to me that `carbon-c-relay` should support sorting via `instance` labels: https://github.com/grobian/carbon-c-relay/blob/master/carbon-c-relay.md#configuration-syntax

in particular:
[code]

[2017-04-09 14:09] deniszh commented on #13
@claudio-benfatto: Yes, `carbon-c-relay` should support that, but I didn't test it though. Not sure if buckytools supporting that too.

[2017-04-09 19:42] claudio-benfatto commented on #13
I think I found the source of the issue. Could you please review this PR: https://github.com/jjneely/buckytools/pull/14 when you find some time?

Thanks!

[2017-04-09 21:38] deniszh commented on #13
Sure! But I'm just an ordinary user of a tool, the only @jjneely can merge your change.

[2017-04-10 15:10] claudio-benfatto commented on #13
thanks anyway @deniszh , really appreciate it :)

[2017-04-11 19:10] jjneely commented on #13
Changes have been merged in.

[2017-04-11 19:10] #13 closed

[2017-04-17 20:25] jjneely commented on #12
This is now fixed on master.  Sorry for the delay.

The issue being that the default host:port or that given on the command line with `-h` may not be the exact spelling as used in the cluster ring definition.  So we need to use the correct version once we've discovered the initial daemon.

[2017-04-17 20:25] #12 closed

[2017-04-17 20:27] jjneely commented on #9
I think this is taken care of at this point as far as accessing data from a graphite storage node outside of the defined cluster ring.  If not please re-open.

[2017-04-17 20:27] #9 closed

[2017-04-17 20:42] jjneely commented on #7
Also, when you specify a port other than the same port as the defined hash ring we should use that port.

[2017-04-18 21:10] #7 closed

[2017-04-20 15:40] azhiltsov opened #16 "Extra port number in address"
It introduced after the 8192e5497cfcf69b6187101c149bddbd2ada6394

$ bucky delete -h 10.20.30.40:4242 test1.test2.wisp1
Deleting 1 metrics on 10.20:30:40:4242...
Error communicating: dial tcp: too many colons in address 10.20:30:40:4242:4242

[2017-04-21 16:36] jjneely commented on #16
This should be fixed on master at this point.  Re-open if you hit similar issues.

[2017-04-21 16:36] #16 closed

[2017-04-21 18:50] jjneely commented on #11
Definitely duplicated

[code]

and

[code]

Where carbon-c-relay says:

[code]

[2017-04-21 19:13] jjneely commented on #11
So, in the referenced commit I added a unit test for this case.  It works.  Would one of you be a second set of eyes on that code?  Maybe I did something dumb.

Running bucky locate at the CLI returns the broken results and demonstrated above.  Not sure how this is different yet.

[2017-04-21 19:26] jjneely commented on #11
Oh drat....it is interpreting the port number as the instance.

[2017-04-24 18:13] jjneely commented on #11
The hardest code to debug in your own.

This is a symantics issue, and I've updated the README.md and the help text blurb in buckyd to be more specific.  The valid formats you can specify a hashring member to buckyd is:

* `SERVER`
* `SERVER:INSTANCE`
* `SERVER:PORT:INSTANCE`

You are doing `SERVER:PORT` instead and buckyd was interpreting the port as the instance value.  So executing like this sh

[2017-04-24 18:44] #11 closed

[2017-04-25 08:16] rsommer commented on #11
That means everyone runnning on non-standard ports using no instance names is running into this. I'll try to move to instance-based naming. Thanks for investigating.

[2017-04-25 14:23] jjneely commented on #11
It sounds like you are still having problems?

The port information isn't even used here.  I believe that was just an effort to keep configuration strings the same here as used in `carbon-relay.py`'s `DESTINATIONS` variable.  Rather than yet another mutation of how to represent server/instance/port.

We're interested in building a hash ring here which doesn't consider the port.  Its also a bit amb

[2017-04-26 13:23] rsommer commented on #11
I'm able to use bucky this way (leaving out the port info). It's just a little confusing that we now have 3 different notations to get matching hashrings:

bucky - server
carbon-relay-ng - server:port
carbonate - server:port:None

If you know it everything works fine. Next time we'll use instance identifiers even if there is only one instance per node.

[2017-04-26 18:40] jjneely commented on #11
Which, of course, I was trying to avoid, and ended up stepping right into.

[2017-06-26 02:10] mwtzzz opened #17 "Can I use buckytools to rebalance a fnv1a_ch cluster?"
The developers at carbon-c-relay mentioned that I could use this to rebalance a fnv1a_ch hashring. But when i run buckyd, I get the following message:
`[root@ec2-xxx radar123 bin]$ setuidgid uuu  ./buckyd -node ec2-xxx.compute-1.amazonaws.com -hash fnv1a_ch 2017/06/25 22:08:54 Invalide hash type.  Supported types: [carbon jump_fnv1a]`

Does buckytools support this type of hash? If not, do you know

[2017-06-27 01:24] jjneely commented on #17
I presently support the `carbon_ch` and `jump_fnv1a` hashing algorithms in carbon-c-relay speak.  Normally, yeah, this would definitely be the tool to use but I don't have that hash type implemented.

However, it probably wouldn't take much code if you are interested.  I've already got the fnv1a hashing function coded in and working as part of the jump hash.  You'd just need to implement a hashing

[2017-06-27 01:53] mwtzzz commented on #17
I'm definitely interested. I've got a 12 node cache cluster that's kind of hitting the ceiling in terms of of a throughput bottleneck. I need to add a 13th node, but I can't do it unless I can rebalance the cluster.

Do you need anything from me in terms of putting together a patch?

[2017-07-05 21:40] mwtzzz commented on #17
I'd like to *gently* encourage some progress on this .... We just got notice that one of the instances in our relay cluster is scheduled for termination in the next week. We've got to get the data off of there and onto a new node. Hopefully I can do this with buckytools if its ready for that time. Otherwise I'm going to have to use rsync or some similar brute force method and cut over to the new h

[2017-07-12 13:20] grobian commented on #17
I wasn't aware of this bug, I did a try in PR #18

[2017-07-13 06:18] mwtzzz commented on #17
I'll test this PR ...

[2017-07-27 20:52] mwtzzz commented on #17
@grobian your patch didn't work for me. When I run something like `bucky list` it fails to retrieve anything.

[2017-07-28 01:22] jjneely commented on #17
Sorry for the delay here....I should be able to spend some time here this coming week.  Although, I know that cuts it close for that EC2 termination.

[2017-08-05 16:55] mwtzzz commented on #17
@jjneely I already completed the migration, but I definitely still need buckytools to support fnv1a_ch. For two reasons: (a) there's duplicate metrics spread around the cluster which need to be consolidated, and (b) if we ever need to scale horizontally I need to be able to add more hosts and rebalance the cluster.

[2017-08-11 13:48] grobian commented on #17
@mwtzzz can you explain exactly how you setup bucky?  What I did to test this in a very simple manner.

on the server:
[code]
then from the client
[code]
that returned on the client something like:
[code]

Does something like this work for you at all?  I admit I don't fully understand the hostnames and how they are used by bucky, but it looks as if buckyd tells bucky where to connect to, so ensure

[2017-08-14 14:24] Civil opened #19 "[bug] bucky-fill shouldn't cross-fill archives"
The easiest way to reproduce the bug for me was:
1. Get some real wsp file with AggregationMethod=sum and multiple archives (original.wsp)
2. Make a copy of it with a new name (copy.wsp)
3. bucky-fill original.wsp copy.wsp

copy.wsp becomes corrupted - some points from Archive1 of original.wsp got written to Archive0 of copy.wsp

It seems that this happens with gaps in archive0 and archive1, but I

[2017-08-14 15:12] Civil commented on #19
I've added a test case for this bug:

[code]

As you can see here in Go code there is a point with value '67.0', but it should be '6.0'

I'm also not sure why fetchFromFile and C is that much different.

[2017-08-14 20:13] jjneely commented on #19
Thanks for this.

[2017-08-14 20:18] Civil commented on #19
I'm still not sure how to write test that it would show normal data in first two columns, but I'll try to do that tomorrow (if you won't do that instead of me).

Though I also have an idea of how to fix that: extend whisper library with ability to update archive with certain retention period (e.x. generalize current function to accept 'retention int' as a parameter and if it's not 0, skip archives

[2017-08-15 08:10] Civil commented on #19
Ok, I've added a proper test for this particular issue, though I've hardcoded dataset for it.

[2017-08-15 08:20] Civil commented on #19
I've also pushed my idea of fix for that issue.

[2017-08-17 19:02] jjneely commented on #17
FNV1a support is now merged in as 0.4.0.  Bug reports appreciated.  Also note the change in how hashrings are specified by a list of `SERVER[:PORT][=INSTANCE]` strings.

[2017-08-17 19:02] #17 closed

[2017-08-21 08:36] Civil commented on #19
@jjneely any news on this bug? My patch works really well in my tests, so can you please have a look at it and either merge it or suggest another solution for this problem?

[2017-08-22 00:30] jjneely commented on #19
Looks sane, but I want to spend some time to review.

[2017-08-28 20:59] ra-dft opened #22 "Build from source on debian 8 seems broken"
Hello,

Super excited to see that you included fnv1a_ch in your latest build.  However, I'm running into some errors during _go install ./..._ .

`buckytools # go install ./...
`# github.com/golang/snappy`
` ../../golang/snappy/decode_amd64.s:10 6a: No such file or directory: textflag.h`
`# github.com/kisielk/og-rek`
`../../kisielk/og-rek/ogorek.go:680: reflect.TypeOf(key).Comparable undefined (ty

[2017-08-28 21:21] ra-dft commented on #22
I went the gbp path and have run into this now:

debian/rules:14: recipe for target 'build' failed
make: *** [build] Error 1
dpkg-buildpackage: error: debian/rules build gave error exit status 2
debuild: fatal error at line 1376:
dpkg-buildpackage -rfakeroot -D -us -uc -i -I failed

[2017-08-29 03:38] jjneely commented on #22
Go 1.3 is really old at this point.  I know I haven't tested with anything near there in a while.  I've been building lately with 1.8.3.

[2017-08-29 13:21] ra-dft commented on #22
@jjneely Thank you for this nugget.  I'm off to the races now.

[2017-08-29 13:21] #22 closed

[2017-08-30 17:08] ra-dft commented on #3
Was any contribution provided to handle replication factors > 1 yet?  I suspect that due to my replication factor of 2, bucky inconsistent reports are possibly somewhat inaccurate.  In the mean time, do you have any recommendations on how to work around this limitation when it comes to executing a rebalance?

[2017-08-30 20:24] jjneely commented on #3
You are correct.  I presently don't have a work around here.  I had planned a work project that would have involved some more code here this month (August).  However, work gifted me other explosions...

[2017-08-31 20:56] blysik opened #23 "[request] generate an RPM release?"
Hi, awesome looking project.  Any chance we could get RHEL6/RHEL7 RPMs?

Thanks!

[2017-09-03 07:33] ctrlok opened #24 "delete empty folder after delete"
Hi.
I receive a lot of empty folders after removing metrics and it is bad for me, because I receive a lot of non exist fields in /find request. Now I fix it by `find /mnt/xvdx/ -type d -empty`, but maybe we should remove it after "delete" operation?

I can create PR if you agree with it.

[2017-09-03 20:42] azhiltsov commented on #24
There was already one #15 and I would also prefer to have it. Might be an extra parameter at invocation will be a good compromise solution?

[2017-09-05 07:37] azhiltsov commented on #19
@jjneely did you have any spare cycles for review by any chance?

[2017-09-06 08:05] ctrlok commented on #24
@jjneely, @azhiltsov  there is two way how we can do that - with an additional flag to `delete` command, but I'm not sure because there is a lot of undefined behaviors:

I had a metrics:

[code]

If I will remove every `name1`, so should I remove `metric1`, `host1` if that didn't contain any metrics?

So... Maybe it will be better to add some command like `delete-empty-folders` which will remove e

[2017-09-06 20:51] blysik commented on #23
Or maybe just an x86_64 binary release?

[2017-09-08 20:51] jjneely commented on #23
I don't presently do any work with Red Hat style systems.  But I'd be glad to accept a .spec file to build them.

Let's see about auto building a release...

[2017-09-08 20:57] jjneely commented on #23
So I need to use this: https://github.com/goreleaser/goreleaser

I didn't do a github release for the 0.4.0 version.  Too many checkboxes....

[2017-09-08 20:59] jjneely commented on #19
I have a upcoming project at work that will afford me some time here, however, more urgent matters keep emerging.  Its on the list, I'm just low on manpower.

[2017-09-08 21:04] jjneely commented on #24
Basically, to integrate the find command invocation into buckyd.  I'd be up for that.

But yes, there are a bunch of corner cases and race conditions possible which is why I've been hesitant to add this.  I've lost data because of deleting "empty" directories in my graphite cluster before.

The full incantation I suggest is

[code]

The `-mtime` setting there does a lot to sanitize possible race c

[2017-09-15 15:51] dolvany opened #26 "Hashring alignment and cache reads"
I would like to consult the trifecta of graphite wisdom @jjneely @deniszh @grobian regarding some general questions.

First, I would like to understand how to align the carbon-c-relay hashring with the buckytools hashring given the following configurations.

[code]

[code]

Would this result in aligned hashrings even though carbon-c-relay is sending to multiple cache processes on each server?

Doe

[2017-09-15 17:19] deniszh commented on #26
I don't think that it will work like this.
Usually, people using 2-tier setup in that situation - one relay distribute metrics across servers, another relay on the host itself distributes metrics across carbon caches for load balancing.
Or you can use go-carbon and get rid of 2-nd tier - it's performant enough.

It has no sense  - if carbon daemon gets no writes then it will have no cache for read

[2017-09-15 18:19] dolvany commented on #26
Hmm, judging by the docs, it seems that instance names may solve this...
[code]
[code]

[2017-09-15 18:30] jjneely commented on #26
You need to give buckyd the exact same host/port/instance strings as you do for carbon-c-relay.  So:

[code]

[2017-09-15 18:55] dolvany commented on #26
Ah, thx @jjneely. The readme seems a bit misleading on this syntax. Does it require an update?
[code]
Also, when I use `buckyd srv1` I get this output for `bucky servers`.
[code]
But when I use `buckyd srv1:2053=a srv1:2054=b` I get this output for `bucky servers`.
[code]
Not sure what is causing the cluster to go unhealthy or if it is something to be concerned about.

[2017-09-15 19:03] deniszh commented on #26
You need to run buckyd on all instances, so e.g. two buckyd on same port on srv1
That's why I said:

[2017-09-15 20:15] dolvany commented on #26
@deniszh One buckyd per carbon-cache instance, not per server? So, would the typical deployment only run one carbon-cache per server?

[2017-09-15 20:37] jjneely commented on #26
I only run one carbon-cache / go-carbon daemon per server.

The way replication/load balancing works I want to make sure I have 2 copies of the same metric on different servers, and not assigned to 2 different daemons that happen to live on the same host.  (I'll hopefully have some replication support in buckytools in the next month or so.)

In the far distant past I did run multiple carbon-cache

[2017-09-15 21:01] dolvany commented on #26
Thx, @jjneely. Let me provide some more transparency regarding my goal. Below is the carbon-c-relay config. I am not using a replication factor, just duplicating the metrics to two separate clusters. I would like to use bucky to manage each cluster independently. Is reducing the number of carbon-cache instances on each server to one the only reasonable way to integrate bucky?
[code]

[2017-09-15 21:12] jjneely commented on #26
At this point, yes, that's the easiest way to that goal.

Although, I guess the real bug here is making bucky aware of multiple instances on the same physical host.

[2017-09-15 22:06] dolvany commented on #26
There are presumably two things going on here, @jjneely:

1. Resolve a graphite key to a cluster member. It seems that this should work regardless of whether a cluster member appears twice (multiple carbon-cache instances).

2. Enumerate the cluster members. This seems to be problematic if a cluster member appears more than once (multiple carbon-cache instances). Is it enough to just ensure that e

[2017-09-16 05:54] dolvany commented on #26
I made some tweaks to bucky client to support multi-instance. I removed the check to verify that the cluster members length equals the hashring length, since this would not be true if a cluster member has multiple hashring entries. I also removed duplicates from the servers slice. I have no idea if this is a breaking change for anything else, but `bucky servers` runs clean.
[code]

[2017-09-16 10:10] grobian commented on #26
I'd like to point out that unlike carbon_ch, fnv1a_ch *does* include port in its hash-key.  Since you use that hash, I think there should be no such thing as "duplicate" cluster members or something.  @jjneely wrote this imo in https://github.com/jjneely/buckytools/issues/26#issuecomment-329864487.

[2017-09-16 15:58] dolvany commented on #26
Let me see if my assumptions are correct, @grobian. Please let me know if any of this is amiss. Bucky client derives the list of cluster hosts from the destinations in the hashring. Regardless of hash, the same cluster host can appear more than once in the hashring. Bucky client doesn't seem to like when it derives the same host more than once from the hashring. This begs a question. Can the same

[2017-09-16 16:15] dolvany commented on #26
I wonder if this is solvable in carbon-c-relay with a cluster of clusters approach.
[code]
[code]

[2017-09-16 17:17] deniszh commented on #26
Does it? Not really sure.

IMO no - by definition of hashring.

That's an also a problem - I do not really understand what's your problem and what are you're trying to achieve?

[2017-09-16 18:34] dolvany commented on #26
Allow me to illustrate with a truncated example from the buckytools readme.
[code]
It shows the same host, graphite010-g5, appearing multiple times in the hashring, once for each carbon-cache instance on the host. This is precisely the carbon-cache deployment that I have. The challenge I am having is that `bucky servers` fails the consistency check when I configure buckyd in this manner. Perhaps I

[2017-09-17 07:38] grobian commented on #26
Could you perhaps describe your setup from the initial relay down to the carbon-cache processes? Getting a good idea about the flow of your metrics is key to get this right IMO.

[2017-09-17 14:12] dolvany commented on #26
Sure, @grobian. Metrics->load balancer->multiple VMs with carbon-c-relay->multiple physical boxes each running multiple instances of carbon-cache. Carbon-c-relay config is identical on all VMs--consistent hash to all carbon-cache instances. I believe this is all working as intended--each graphite key is sent to a specific carbon-cache instance. Now, I am trying to figure out the cluster management

[2017-09-18 06:55] grobian commented on #26
Just summing up what has been said above to ensure we're all on the same page:
1. you use a jump hash to distribute metrics over your cluster
2. you have two such clusters
3. both clusters receive the same input (e.g. they are mirrors) and because they are of the same size, their distribution per server is identical (because jump hash doesn't care about the server name, port or key, just the final

[2017-09-18 13:22] rsommer opened #27 "Commandline switch -s/-single does not seem to have any effect"
While integrating some monitoring checks using buckytools I encountered that the -s/-single flag does not seem to restrict for example 'inconsistent' to just a single host as advertised in the help text. Am I missing something from the documentation or did I just hit a bug? I'm currently using buckytools 0.3.2.

To reproduce, just create some empty bogus whisper files on the wrong host(s) and call

[2017-09-18 14:03] deniszh commented on #27
Hi @rsommer,
I'm wondering what's expected behaviour of `bucky inconsistent -s` should be?
Report inconsistency on single host only?
I'm using `-single` for non-standard rebalance operations, e.g. copy all metrics from one host to another:
[code]

[2017-09-18 14:11] rsommer commented on #27
The specific usecase on my side is that I want to implement monitoring checks bound to the single hosts of the cluster so that every host just reports back wrong metrics on itself.
If this is no intended behaviour the help text for operations not supporting single host mode should not advertise the flag.
I added handling of the flag and could issue a pull request or just keep it for myself if the

[2017-09-18 14:14] deniszh commented on #27
I'm not an author of bucky, just a curious user, was wondering about usecase here. Looks pretty valid to me.

[2017-09-18 14:32] rsommer commented on #27
@deniszh I'm wondering about your example from above: the only command where the SingleHost-flag is actually evaluated is in `restore.go`. If I do a dry run of a rebalance using -s/-single all metrics are processed nervertheless. Which version of buckytools are you using?

[2017-09-18 16:41] deniszh commented on #27
My old fork, from the times when jumphash was not merged into master branch
- https://github.com/deniszh/buckytools
Planning to migrate to latest version.
For 'bucky inconsistent -s' - my version also doing nothing.

On Mon, 18 Sep 2017 at 16:32, Roland Sommer <notifications@github.com>
wrote:

[2017-09-18 18:22] jjneely commented on #27
Hey, I'm totally accepting PRs.  :-)

[2017-09-18 20:14] dolvany commented on #26
1, correct. 2, correct. 3, I am not familiar enough with the inner workings of the hashes to say whether I completely understand your point regarding the final ordering--an example would certainly clarify this for me. 4, awesome. 5, correct. 6, correct. To put this in terms of configuration, it seems you are suggesting the following (leaving the mirror cluster out for brevity). Will this achieve h

[2017-09-19 06:49] grobian commented on #26
You want to avoid having multiple tiers of (c-)relays, is that correct?  While I understand the rationale, it currently isn't possible and I don't see it high priority to implement double-hashing or anything.
Your config is indeed how it would look like.  For performance and flexibility you could use `any_of` on the back relays instead of `jump_fnv1a_ch`.  It shouldn't change anything for your sit

[2017-09-19 07:10] dolvany commented on #26
Sounds good, @grobian. Thanks for the guidance!

[2017-09-19 08:20] azhiltsov commented on #26
@dolvany we had 12 carbon-cache processes per host with carbon-c-relay on the same host on front of them in order to distribute the load. At certain point it stopped work perfomance-wise and we switched to go-carbon which at current setup can easily handle 300K points/sec and with some tuning and external iSCSI storage up to 1000K points/sec sustained. It also eliminates carbon-c-relay on the host

[2017-09-19 08:36] grobian commented on #26
I would concur with azhiltsov's suggestion.  carbon-cache.py isn't multi-threaded, hence running multiple in parallel.  A c-relay in front of it is just a workaround, in reality it should've been multi-threaded by itself.  go-carbon solves that nicely (and avoids the need for a local c-relay).

[2017-09-20 18:36] dolvany commented on #26
@grobian If I use `any_of` on the back relay, would this result in some misalignment with `CARBONLINK_HOSTS`?

[2017-09-20 18:46] grobian commented on #26
sender -> c-relay -> go-carbon

wrt CARBONLINK_HOSTS, I think that doesn't work at all anyway because fnv1a_jump_ch is not understood by graphite-web.  This is the reason why we started carbonzipper.  This "smart proxy" acts as a single carbon-cache to graphite-web, later we also replaced the latter with carbonapi.

[2017-09-20 18:54] dolvany commented on #26
@grobian But I could use `carbon_ch` on everything and then `CARBONLINK_HOSTS` would align with the caveat that the distribution may not be as efficient as other hashes, yes?

[2017-09-20 18:58] grobian commented on #26
No, only if you use a single cluster with `carbon_ch`, `CARBONLINK_HOSTS` will be able to predict where metrics are located. It understands replication IIRC, but it always probes in order, in other words, it's highly unsuitable for setups which need to be redundant/fault-tolerant and performant.

[2017-10-03 10:42] mwtzzz commented on #17
Ah! ... Just getting around to seeing this (I got pulled away on other stuff at work)... Sorry I missed this earlier. Let me take a look at it today.

[2017-10-03 19:25] mwtzzz commented on #17
This isn't working with fnv1a_ch hash type:

/usr/local/src/buckyd -hash fnv1a_ch -p /media/ephemeral0/carbon/storage/whisper
2017/10/03 15:24:01 Invalide hash type. Supported types: [carbon fnv1a jump_fnv1a]

[2017-10-03 19:35] mwtzzz commented on #17
[code]
If I run any other command (list, inconsistent, etc), the following appears:
[code]

[2017-10-03 19:43] mwtzzz commented on #17
I see file descriptor 5 for buckyd process is iterating through the whisper files.... Perhaps it just takes time before bucky has results ready?

[2017-10-03 19:44] jjneely commented on #17
If you are asking about the sleeping bits, yes, it takes a bit for buckyd to build a cache.  The bucky CLI will wait for them.

[2017-10-03 20:08] deniszh commented on #17
@mwtzzz : could you please share your relay config and buckyd command line options?

[2017-10-03 20:08] mwtzzz commented on #17
[code]
This `Killed` is occuring automatically after a minute or so.

[2017-10-03 20:24] mwtzzz commented on #17
@deniszh My relay config looks like this with 12 nodes:
[code]
My buckyd command line looks like this (notice I'm not using `-n`):
[code]

[2017-10-03 20:26] deniszh commented on #17
Why not using `-n`?

[2017-10-03 20:33] mwtzzz commented on #17
@deniszh mostly because it's more work for me to include it and I thought it was optional (?). But if it's necessary, I'll definitely include it....

[2017-10-03 20:50] mwtzzz commented on #17
ah my bad. just noticed the documentation, `-n` defaults to whatever `hostname -I` says, which is not what I want .... I'll restart all the daemons with the right `-n`

[2017-10-03 21:04] mwtzzz commented on #17
ok, this is looking much better. `bucky servers` now shows a healthy cluster.... I'll keep playing with the commands, I'm going to see if there's any inconsistencies and try to fix them. Assuming it's working, then I will add a 13th node to the cluster and do a rebalance.

[2017-10-03 21:23] azhiltsov commented on #17
Be aware of #19 @mwtzzz

[2017-10-03 22:48] mwtzzz commented on #17
@azhiltsov I'm assuming the rebalance would make use of bucky-fill at some point, which could possibly corrupt some of my archive sums?

[2017-10-04 12:12] mwtzzz commented on #17
I'm having an issue running `bucky inconsistent`. After several minutes it shows "Killed":
[code]
The output from the command shows a bunch of "Results from radar-be-x not available. Sleeping", then shows a metrics count for only six of the twelve nodes:
[code]
The buckyd log file doesn't show much, some "get /metrics" and:
[code]

[2017-10-04 12:33] deniszh commented on #17
Check your syslog. It looks like OOM killer, so bucky consumes too much memory, which is totally possible for 12-15 mln metrics x 12 nodes....

[2017-10-04 12:35] jjneely commented on #17
Was about to write the same thing.  The client you are running the bucky CLI on doesn't have enough memory.

[2017-10-04 12:44] mwtzzz commented on #17
Ah, good suggestion. Indeed it was oom-killer that nuked it.

increasing the RAM on these instances is not an option. Do you have any suggestions on how I can get it to work?

[2017-10-04 12:48] deniszh commented on #17
Spawn another instance with enough ram? It should host `bucky` only, not `buckyd` nor graphite.

[2017-10-04 12:50] mwtzzz commented on #17
Ok, If I need to I'll do that. But why does it need to put everything in RAM? Wouldn't it be better to have an option to "rate limit" the RAM and put stuff temporarily on disk as needed?

[2017-10-04 19:05] mwtzzz commented on #17
I got the RAM issue sorted out and successfully running bucky inconsistent.

question: what exactly does the `bucky rebalance --delete` do? Does it delete the metric **data** or does it delete the original whisper **file** after the copy has been made on the new server?

[2017-10-05 01:22] jjneely commented on #17
How much RAM is bucky (the CLI client) using for you?  I can at least compare it to mine.  There are definitely techniques we can use to reduce the memory requirements, but usually finding more RAM is faster.

The idea for the rebalance is to, more or less, atomically move a metric file/data from one location to another.  So we copy the data, write to disk, sanity check, and finally delete (when `

[2017-10-05 01:31] jjneely commented on #19
Apologies, I want to take the corruption issues seriously, and this is a work sponsored project -- which you would think would provide ample time to work on it.  But the goal posts keep moving.

[2017-10-05 13:19] mwtzzz commented on #17
bucky cli is using about 20GB of RAM on my system. Here was pmap shows: `total kB        20601156 17940624 17937240`. Note that it doesn't reach that right away. The first 20-30 minutes it uses about 360MB, then it jumps up.

Let's look at one of the metrics from yesterdays' rebalance. The metric name is atlantic_exchange/usersync/cookiepartner/TAPAD/syncs/sum_all/hosts.wsp.
There are two hosts th

[2017-10-05 14:52] grobian commented on #17
The 100 replicas is an internal implementation detail, carbon-c-relay does the same thing.

The misplacement of metrics is possible. Does bucky report `atlantic_exchange.usersync.cookiepartner.TAPAD.syncs.sum_all` (with the missing `.hosts`) for real or was this a copy/paste error?

[2017-10-05 15:21] mwtzzz commented on #17
`bucky inconsistent` reports:
`radar-be-i:4242: atlantic_exchange.usersync.cookiepartner.TAPAD.syncs.sum_all.hosts`

- radar-be-i: carbon-relay is writing here
-  radar-be-f: bucky thinks this is where it should go

[2017-10-05 18:03] mwtzzz commented on #17
bucky rebalance --no-op shows this:
[code]

[2017-10-05 20:08] mwtzzz commented on #17
Are there any tools we can use to see what carbon-relay is doing to calculate the hashring node, to see what bucky is doing, and to find out why they're giving different results? I see buckytools has a `fnv1a_test.go` but it seems to be missing a module.

[2017-10-06 06:30] grobian commented on #17
Yes, if you launch your carbon-c-relay with the -t (test) flag, it will prompt for data input and show you how it would route the input (assuming it is a metric string).  So, in your case, just start the relay with `-t -f <conffile>` and paste `atlantic_exchange.usersync.cookiepartner.TAPAD.syncs.sum_all.hosts`.  That will show you where the relay thinks it should be routed to.  If this is differe

[2017-10-06 14:58] mwtzzz commented on #17
Thanks for letting me know about the test flag. Very useful. Now I know what's going on. First of all, it's not bucky's fault. Bucky is computing the correct placement of metric based on the information it's given.

The problem is that we are rewriting the metric name on the backend right before it goes to the local cache on that node. Our front end relay is sending the metric with "agg" prepended

[2017-10-06 15:14] deniszh commented on #17
Indeed. You should send new metric back to relay and not to local cache.
Or you can have separate whisper storage for local metrics, but that's quite ugly IMO.

[2017-10-06 15:29] mwtzzz commented on #17
the good news is, bucky is doing things correctly. I'm looking forward to being able to add more nodes to the cluster and using it to rebalance.

[2017-10-06 23:44] mwtzzz commented on #17
in testing this out, I came across a new unrelated issue. My carbon-cache instances write their own metrics to /media/ephemeral0/carbon/storage/whisper/carbon.radar702 as per a directive I set in the carbon-cache config file:
`CARBON_METRIC_PREFIX = carbon.radar702`
carbon-cache appears to write its own metrics directly to disk bypassing the relay (correct me if I'm wrong). Unfortunately, bucky lo

[2017-10-07 01:22] jjneely commented on #17
You are correct about carbon-cache.py.  It writes its own metrics directly to disk and they cannot go through the relay.  Usually, these are prefixed with `carbon.agents.` and bucky has an exception for them in the rebalance code.

[2017-10-07 12:31] mwtzzz commented on #17
made the change from `carbon.radar702` to `carbon.agents.radar702` and it works perfectly.

excellent tool. I used it on our small qa cluster and it rebalanced 45,000 out of  320,000 metrics in a matter of a couple seconds.

[2017-10-07 15:40] jjneely commented on #17
Okay, so what issues remain here?  The rebalance and corruption?

[2017-10-07 18:04] mwtzzz commented on #17
No issues remaining. It seems to be working correctly. Thanks for your help on this, much appreciated!

[2017-10-08 13:50] mwtzzz commented on #17
@jjneely I've noticed a new issue. I completed a rebalance on our main production cluster. Everything great, except there are a handful (about 700) metrics that the relays are putting on node "radar-be-k" while bucky thinks they should be on node "radar-be-i". The curious thing is that this is only happening on the one node. The other eleven nodes don't have this discrepansy.

I ran some of the me

[2017-10-08 14:53] grobian commented on #17
We'd need the exact metric name, so we can debug the hash on both c-relay and bucky.

[2017-10-08 15:35] mwtzzz commented on #17
That's what I figured. The metric names include our ec2 instance hostnames. Can I private-message to you directly?

[2017-10-08 15:37] grobian commented on #17
Yes of course. email is fine too.

[2017-10-09 14:17] mwtzzz commented on #17
@grobian I just sent you an email from my gmail account.

[2017-10-09 17:37] grobian commented on #17
all three metrics you sent me, end up on the same hash position (4379), and more annoyingly, that hash position is occupied by two of your servers, f and g.  Now you mention k and i, so that's slightly odd, but it could very well be that carbon-c-relay is choosing the last matching entry, whereas the bucky implementation picks the first. This situation is exactly https://github.com/graphite-projec

[2017-10-09 17:44] grobian commented on #17
Likely reason is that carbon-c-relay nowadays uses a binary-search, which means it approaches the duplicates from the right, instead of the left as the original pointer chasing did.

[2017-10-09 18:39] grobian commented on #17
Python implements this:
[code]
IoW if carbon-c-relay uses a binary search, it does it wrong, because it should select the leftmost matching key.

[2017-10-09 21:38] mwtzzz commented on #17
Is there anything I should do on my end to correct this?

[2017-10-09 21:50] mwtzzz commented on #17
Thanks Fabian, is there anything I should do on my end to correct it?

On Mon, Oct 9, 2017 at 11:39 AM, Fabian Groffen <notifications@github.com>
wrote:

--
---
Michael Martinez
http://www.michael--martinez.com

[2017-10-10 06:46] grobian commented on #17
It seems to me both bucky and carbon-c-relay implement bisectLeft wrongly. The focus for me is now to align at least bucky and carbon-c-relay (which they are not at the moment). I'm thinking about how to align the algorithm in carbon-c-relay with the bucky implementation (which equals the old carbon-c-relay implementation iirc) as I suspect this will result in minimal (perhaps zero) changes in rou

[2017-10-10 14:23] mwtzzz commented on #17
Thanks for looking at it. On my end, currently there's about 800 metrics that bucky has misplaced. That's 800 out of 150 million, so a very low percentage. As you mentioned, if any changes are made to relay it would be great if they result in minimal changes in routing.

[2017-10-11 19:05] grobian commented on #17
Now the only thing necessary is that bucky ensures that servers are sorted/ordered in the same way carbon-c-relay does, then the output must be the same.

[2017-10-12 16:03] mwtzzz commented on #17
@grobian do you want me to test that commit?

[2017-10-13 07:51] grobian commented on #17
Yes please, it should result in those 800 metrics being sent to the nodes bucky wants them to be.

[2017-10-13 17:37] mwtzzz commented on #17
Is it going to preserve the locations of the other metrics?

[2017-10-14 07:31] grobian commented on #17
If you want to be sure, try and build a list of metric names (can get it off disk with find, replace all / with . and strip .wsp) then run it through carbon-c-relay -t and ensure all of them return the host you grabbed the conf from.  Put differently, if you do this for your current running version and the latest HEAD, you should find running diff -u old new is rather small, where the new points t

[2017-11-03 15:42] azhiltsov opened #28 "backfill neds --delete swith"
If you using backfill with list of relocated/renamed files in json it keeps original files in place.
It useful to have --delete option in order to delete source files once backfill is done. The same way as in rebalance.

[2017-11-07 10:13] Civil commented on #19
Hi!

Please have a look at the PR to solve this problem.
Pros to merge it as-is even without an in-depth look:
1. There is a test case that fails with current code
2. After the fix it's not failing anymore
3. No other tests fails

Assuming that there are tests for most of stuff already in place, it should be safe to merge it as-is now and investigate problem in-depth later.

[2017-11-21 11:59] Civil commented on #19
ping

[2017-11-21 17:05] sw0x2A commented on #11
I am running into a similar issue with Buckytools (version 0.4.0) either reporting the cluster inconsistent or `bucky locate` giving wrong results.

My carbon-c-relay config looks like this:

[code]

Buckyd is started like

[code]
I tried to run buckyd with every combination of 10x HOST[:PORT][=INSTANCE] where instance is either None or a and b. In any case, `bucky servers` reports that cluster is

[2018-02-26 10:42] Civil commented on #19
@jjneely can you please have a look at this issue and at my PR?

I understand you might be short of time, but this issue cause corruption during backfill. I think this is very important to fix this, otherwise it makes backfill unusable (you *will* get garbage in backfilled files).

[2018-03-04 22:35] towolf commented on #19
@jjneely seeing that you seem to have no more time for this project and @Civil seeming to be a competent submitter, can you please just merge this?

[2018-03-08 11:39] Civil commented on #19
For now we decided to maintain our own fork with patches that we want to have in buckytools (see https://github.com/go-graphite/buckytools ). And we'll think about just rewriting buckytools from scratch to implement better support of our stack and to solve some other issues we have with it (e.x. that it requires to have centralized server and push data through it).

[2018-06-26 12:17] gksinghjsr commented on #19
Can this pull request be merged, as it would help move the project forward? Also, can @Civil also be given admin rights?

[2018-06-27 10:33] iain-buclaw-sociomantic opened #29 "[feature request] Support bulk resizing whisper files"
Desirable example usage would be:
[code]

[2018-07-12 15:33] iain-buclaw-sociomantic opened #30 "Add filter metric option to bucky restore"
So rather than restoring the entire tarball, only restore metrics that match a given metric or regular expression.

[2018-12-08 22:52] dcharleston commented on #27
@deniszh I don't see any history of the -s flag ever functioning for rebalance, do you have uncommitted changes on your older fork for that?

@rsommer I'd be interested in your handling of the single host though my use case is basically what deniszh does with the rebalance command. Do you have a PR or commit I can look at?

[2018-12-09 12:13] deniszh commented on #27
@dcharleston: I did nothing for rebalance , it was just working for me out of the box.
I’m not actively using buckytools anymore, but you can check this fork for some additions and patches - https://github.com/go-graphite/buckytools

[2018-12-11 19:23] dcharleston commented on #27
@deniszh Thanks, i'm curious to know what you're using now?

I still fail to see where the actual logic is that calls SingleHost function in rebalance.go is unless there is some go magic I don't understand, which may very well be the case.

[2018-12-12 17:39] deniszh commented on #27
@dcharleston : TBH I completely forgot buckytools code. For me, command above `bucky rebalance  -no-delete -w 4 -single host001:4242` just copy all files from to host001 to current host.

[2019-02-20 20:35] cjagus opened #31 "Question: bucky re-balance jump_fnv1a"
I tried to rebalance a single jump_fnv1a carbon instance by adding two more, initial one was having a disk size of 6gb.

After the rebalance:
`instance1 = 2.1gb
instance2 = 1.6 gb
instande3 = 1.6 gb`

Is this an expected behaviour? ( considering jump hash has a much better balancing b/w servers)

I tried below command to do the same.

`bucky rebalance -delete -h instance1 :4242 -w 25 2>&1 | tee re

[2019-02-22 04:54] jjneely commented on #31
The hashing is based on the metric name (not the size/retention of the metric), but in most cases I'd expect the number of wsp files to be really close throughout the Graphite cluster when using the jump hash.

Run `bucky inconsistent` and see what it says.

[2019-06-28 19:07] ecsumed opened #34 "Bucky rebalance loses points if a metric is failover'ed on multiple nodes."
In case of a failover scenario, where metrics meant for a specific node end up on multiple other nodes, the rebalance randomly (or it seems) tends to lose metrics. This only happens when the metric ends up on _multiple_ other nodes instead of a single server.

daemon commands:
[code]

Now suppose node 2 goes down for 5 minutes, here's the data for a specific metric:
[code]

Here's another example

[2019-06-30 21:14] jjneely commented on #34
There is #19 as well.  I don't think this is what you are hitting, but might be useful for context and patches.  I used to spend a lot of time with Graphite, less so now.  (I usually help people migrate off of it instead!)

The algorithm that rebalance uses is (at least the goal was) a direct port, bug for bug of what `whisper-fill` does.  That algorithm does end up dropping data points on certain

[2019-11-11 06:01] #31 closed

[2020-08-05 22:54] jdblack opened #35 "buckytools unbuildable in golang:latest (1.14.6) and golang:1.13 container"
Attempting to build buckytools on the latest  golang container, as per the current build instructions in the readme, apparently fails:

[code]

[2020-08-06 01:16] jjneely commented on #35
Hi,

I pushed a change to master that I think will address this issue for the time being until the code is ported to use Go modules.  Let me know if that works for you.

[2020-08-06 16:55] jdblack commented on #35
Worked great! Thank you!

[2020-08-06 16:55] #35 closed

[2020-08-13 20:34] ryangsteele commented on #3
@jjneely - did you ever start the work you had planned for supporting replication factors > 1?

[2020-08-14 13:40] jjneely commented on #3
Alas, I have not.  The clients I was working with that required large Graphite clusters have all moved on in one way or another.

[2020-09-03 10:19] ritmas opened #36 "bucky rebalance by removing a node"
The way how a cluster is being rebalanced by adding new/empty node is pretty straightforward and clear.

I wanted to ask what is the best flow for rebalancing an existing cluster (`replication=1`) by removing a node?
I tried switch/setup `replication=2` (on both `carbon-c-relay` and `buckyd`) on running cluster but `bucky inconsistent` does not show any inconsistency.

[2020-09-03 20:28] jjneely commented on #36
I never got replication > 1 support working in Bucky tools before the client I was working with went in different directions, unfortunately.

To move to a smaller Graphite cluster, I would usually build that smaller cluster and use rebalance to transition to it.  But I think the same can be done to just remove a node from the existing cluster.  (Watch out if using the Jump hash method as it really

[2021-09-18 10:54] tantra35 opened #37 "why bucky servers command say Number of replicas: 100???"
Bucky  tools declares tha it works only with cluster with repolication 1, but when we invoke bucky servers, we see discouraging output:

[code]

But why 100? In source code we see that When construction any hashring replication factor put to 100, and never changes. For example for carbon hashring https://github.com/jjneely/buckytools/blob/master/hashing/hashing.go#L84-L92

[code]

and `SetReplicas

[2021-09-18 11:20] deniszh commented on #37
Hi @tantra35

It's replicas in the hash ring, not carbon replicas. This code just mimicking Python code from carbon - https://github.com/graphite-project/carbon/blob/9fad18df5731271aab6f5c81d32eddcecdc1a695/lib/carbon/hashing.py#L57

Unfortunately buckytools not supporting  replication factor >1, even in [go-graphite fork](https://github.com/go-graphite/buckytools) we didn't fix this issue. In rea

[2021-11-10 01:34] zerosoul13 opened #38 "Trouble rebalancing a go-carbon cluster"
Hello,

We've been experimenting with this tool to rebalance a go-carbon cluster with a great amount of metrics but been having trouble finding the right configuration for it.

Our Graphite cluster is running the go-graphite stack (carbon-relay-ng -> go-carbon) running on Kubernetes. We would like  like to match the carbon-relay-ng consistent hashing to buckyd.

## Carbon-relay-ng

Our destination

[2021-11-10 22:06] zerosoul13 commented on #38
Been checking the code and found  https://github.com/jjneely/buckytools/blob/master/cmd/bucky/cluster.go#L79 sets the port value to the same value as the one provided by a user in buckyd upon startup. Port 2004 in our case.

I've created a fork of the code and updated line https://github.com/go-graphite/buckytools/blob/master/cmd/bucky/cluster.go#L88. instead of `v.Port` I've set it to `4242`

[co

[2021-11-11 02:57] jjneely commented on #38
It should not have a negative side effect.  If this is the "carbon" hashing method the port (or middle value in the triple) isn't used to inform the hashring.  Just the hostname and the optional instance.

When configuring buckyd, you want it to find the other buckyd servers on your other nodes.  Therefore, you want to use, in your case, port 4242, which is the default port.  Port 2004 is go-carbo

[2021-11-11 17:02] zerosoul13 commented on #38
We are rebalancing the cluster due to new node addition.

Would you have an example on how to set them up in such way that they agree on the hashring?

[2021-11-11 17:07] deniszh commented on #38
@zerosoul13 : could you please post your config for carbon-relay-ng somewhere (e.g. on https://gist.github.com/ or https://pastebin.com/) and post link here?

[2021-11-11 17:13] zerosoul13 commented on #38
@deniszh Here's my carbon-relay-ng configuration

https://gist.github.com/zerosoul13/04f6d390fb0af7303029d9d737c6a6b4

[2021-11-11 17:22] zerosoul13 commented on #38
I think I know why there's an issue:

I'm raising the ticket on the wrong repo. I think at one point I switched from `jjneely/buckytools` to `go-graphite/buckytools` didn't realized

@jjneely in your code, this is true

and can be seen here: https://github.com/jjneely/buckytools/blob/master/cmd/bucky/inconsistent.go#L65

On the `go-graphite` version (which I'm using) this is not true. the port doe

[2021-11-11 17:22] #38 closed, assigned to nobody

[2021-11-11 17:24] deniszh commented on #38
@zerosoul13 : if you using  full hostname like `go-carbon-1.go-carbon.gs-bg-graas` in relay config you should use *the same* full hostname in bucky config. You can use IPs or short hosnames or long hostnames - but hashing algorithm using that part for calculating metric distribution, so, it should match between relay and buckyd.

[2021-11-11 17:27] zerosoul13 commented on #38
It was a bad editing on my part.  Here's the updated carbon-relay-ng configuration https://gist.github.com/zerosoul13/d92aa97c3c7d72d39dbfb1f942de11e1